

.navbar


.navbar-default
  background-color:black;
  max-height:20px;
  height:20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  .navbar-text
    color white
  .navbar-nav > li > a
    color:white;

  .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
    color:naranjita

  .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
    background-color:naranjita;
    color:white;


  .navbar-brand
    color:naranjita;;
    font-family: "museo700", Helvetica, Arial, sans-serif;
    font-size:22px;

.navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
  background-color:naranjita
  color:black

