#admin-bar
  margin-top: 0px;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: hidden;


  #titulo
    background-color:naranjita;
    height: 30px;
    margin: -20px -20px 15px -20px;
    text-align: center;
    padding-top: 2px;
    font-size: 1.2em;
    color: white;

  a
    color:black

li.active a
  color:black

.active .iconosb
  color:white

